#cascade {
    display: flex;
    gap: 2px;
    width: 100%;
}

.symbol-label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 30px;
    background-color: #cccccc;
}